<!DOCTYPE html>
<html lang="en">

<head>
  <meta
    charset="UTF-8">
  <meta
    http-equiv="X-UA-Compatible"
    content="IE=edge">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0">
  <title>Shriky
  </title>


  <style>

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


    body {
      background-color: rgb(108, 242, 244);
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      margin-top: 20vh;
      
    }

    .main-container {
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      
      /* height: 80vh;    */
    }

  .heading {

    color: rgb(4, 21, 103);
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    
  }
 
    .lable {
      color: rgb(4, 4, 141);    
      font-size: larger;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
    }

    .input-url {
      margin-top: 20px;
      margin-left: 5px;
      outline: none;
      height: 5vh;
      border-radius: 10px;
      color: rgb(45, 50, 54);
      width: 20vw;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
    }

    .shrink-button {
      background-color:rgb(8, 121, 32);
      height: 5vh;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      color: white;
      font-family: 'Poppins', sans-serif;

    
    }
    .shrink-button:active{
      background-color: rgb(12, 140, 55);
    }

    .gap {
      height: 3vh;
    }

    .shrink-container {
      display: flex;
      flex-direction: row;
      color: rgb(4, 4, 141);
      font-family: 'Poppins', sans-serif;
      align-items: center;


    }

    .shrink-url-box {
      border-width: 5cm;
      background-color: white;
      border-radius: 10px;
      height: 4vh;
      text-align: center; 
      width: max-content;
     
      margin-left: 25px;
      padding-top: 3.5%;
    }
    a {
      align-self: center;

    }

    /* .hidden{
        display: none;
       } */
       @media screen and (max-width: 800px) {
    body {
      margin-top: 10vh;
    }
    .input-url {
      width: 80%;
    }
    .shrink-container {
      flex-direction: column;
      margin-top: 20px;
    }
    .shrink-url-box {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 550px) {
    body {
      margin-top: 5vh;
    }
    .heading {
      font-size: large;
    }
    .lable {
      font-size: medium;
    }
    .input-url {
      width: 80%;
    }
    .shrink-button {
      font-size: small;
      margin-top: 20px;
      margin-left: 40vw;
    }
    .shrink-container {
      flex-direction: column;
      
    }
    .shrink-url-box {
      margin-left: 0;
    }
  }


  </style>
</head>

<body>
  <div
    class="heading">
    SHRINKY</div>
    <div
    class="main-container">
    <form>
      <label
        for="name"
        class="lable">URL</label>
      <input
        type="url"
        class="input-url fullUrl"
        name="url">
      <button
        type="submit"
        class="shrink-button">Shrink</button>
    </form>
    <div
      class="gap">

    </div>
    <div
      class="shrink-container hidden">
      <h3 class="shrink-url-head hidden">
        Shrink URL
      </h3>
      <div
        class="shrink-url-box">
        <a href="/"
          target="_blank"
          type="url"
          class="shrink-url"></a>
      </div>
    </div>
  </div>

  <script>
    const button=document.querySelector('.shrink-button')
    const shrinkContainer=document.querySelector('.shrink-container')
    const shrinkUrl =document.querySelector('.shrink-url')
    const inputUrl=document.querySelector('.input-url')
  


    function modify(shortUrl){

      inputUrl.value=""
      shrinkUrl.innerHTML=`http://localhost:5000/${shortUrl}`
      shrinkUrl.setAttribute('href',shortUrl)
     

    }


    function showError(){
      
      
    }
    async function postData(url,data){
      const response = await fetch(url,{
        method:'POST',
        credentials:'include',
        headers:{
          'Content-type':'application/json'
        },
        body:JSON.stringify(data)
      }
      )
      const responseData = await response.json()
      return responseData
    }

   button.addEventListener('click',function(e){
      e.preventDefault();

      const url=inputUrl.value
      if(url===""){
        showError()
      }
     
     postData('http://localhost:5000/shrinkUrls',{fullUrl:url}).then((data)=> {modify(data.shortUrl);
    console.log(data)})
     
    

    })


  </script>

</body>

</html>